@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#__next {
  @apply h-screen;
}

.split {
  width: 50vw;
}

.react-flow .react-flow__handle {
  width: 100px;
  height: 14px;
  border-radius: 3px;
  background-color: #52c33b;
}

.react-flow .bound {
  background-color: rgb(208, 60, 31) !important;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  display: none;
}
