@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#__next {
  @apply h-screen;
}

.split {
  width: 50vw;
}

.react-flow .react-flow__handle {
  width: 30px;
  height: 30px;
  border-radius: 300px;
  background-color: #6ffa53;
  @apply border-none;
}
/* 
.react-flow__edge.selected {
  stroke: #52c33b !important;
  stroke-width: 3px !important;
} */

.react-flow .bound {
  background-color: rgb(255, 114, 86) !important;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  display: none;
}

.gradient {
  background: linear-gradient(
    to right,
    rgba(75, 0, 130, 0.2),
    rgba(0, 0, 139, 0.2),
    rgba(0, 128, 128, 0.2),
    rgba(0, 128, 0, 0.2),
    rgba(255, 215, 0, 0.2),
    rgba(255, 127, 0, 0.2),
    rgba(255, 0, 0, 0.2),
    rgb(15 23 42)
  );
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
}

.round-binop {
  border-top-left-radius: 15% 25%;
  border-top-right-radius: 15% 25%;
  border-bottom-left-radius: 50% 75%;
  border-bottom-right-radius: 50% 75%;
}

.round-unop {
  border-radius: 2rem;
}

.round-standalone {
  border-top-left-radius: 2rem;
  border-top-right-radius: 2rem;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
}

.react-flow__attribution {
  display: none !important;
}

.react-flow__controls button {
  background-color: rgb(15 23 42 / var(--tw-bg-opacity));
  border-bottom: 1 solid rgb(100 116 139 / var(--tw-border-opacity));
}

.react-flow__controls button:hover {
  background-color: #334155;
}

.react-flow__controls svg {
  fill: rgb(248 250 252 / var(--tw-text-opacity));
}

.spotlight {
  background: radial-gradient(circle, #343643, #2e2f3b);
}
